$bg_dark :#09072b;
$primary_color: #FF9F1C;
$secondary_color: #FFC15E;
$third_color: #F5FF90;
$fourth_color: #D6FFB7;

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../font/Poppins/Poppins-Regular.ttf);
}
.navbar {
    --bs-navbar-brand-color: $fourth_color ;

    .nav-link {
        --bs-navbar-active-color: $secondary_color;
        --bs-nav-link-color: $fourth_color
    }
}

* {
    font-family: 'Poppins-Regular';
}

.header-bg {
    // background-color: $bg_dark;
    color: $fourth_color;
    background-color: #030502;
}

.banner-bg {
    background-color: #030502;
    color: $fourth_color;
}

.container-spacing {
    padding-top: 150px;
    padding-bottom: 150px;
}

.portfolio-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
    object-position: top center;
}